@charset "utf-8";

.topCont						{ background:#f7f7f7; border-bottom:1px solid #dcdedd; width:100%; display:inline-block; text-align:center; }
.contents                       { margin: 0 auto; width: 902px; }

.pageTitle                      { display: inline-block; font-size: 24px; font-weight: 500; vertical-align: baseline; }
.pageTitleDesc                  { display: inline-block; margin-left: 15px; color: #888; font-size: 16px; font-weight: 400; vertical-align: baseline; }

/* checkbox */
.checkbox                       { position: relative; display: inline-block; }
.checkboxLabel                  { display: block; padding-left: 60px; font-size: 18px; font-weight: 400; cursor: pointer; }
.checkboxLabel:before           { content: ''; overflow: hidden; position: absolute; top: 1px; left: 0; display: block; width: 24px; height: 24px; background: url(../images/checkbox.png) no-repeat -10px -10px; }
input:checked + .checkboxLabel:before { background-position-y: -44px; }

/* checkbox */
.checkbox                       { position: relative; display: inline-block; }
.checkboxLabel                  { display: block; padding-left: 60px; font-size: 18px; font-weight: 400; cursor: pointer; }
.checkboxLabel:before           { content: ''; overflow: hidden; position: absolute; top: 1px; left: 0; display: block; width: 24px; height: 24px; background: url(../images/checkbox.png) no-repeat -10px -10px; }
input:checked + .checkboxLabel:before { background-position-y: -44px; }

/* checkbox */
.radiobox                       { position: relative; display: inline-block; }
.radioboxLabel                  { display: block; padding-left: 37px; font-size: 18px; font-weight: 400; cursor: pointer; }
.radioboxLabel:after            { content: ''; overflow: hidden; position: absolute; top: 3px; left: 0; display: block; width: 23px; height: 23px; background: url(../images/radiobox.png) no-repeat -10px -10px; }
input:checked + .radioboxLabel:after { background-position-y: -43px; }

/* 주소 입력 > input */
.inputField                     { position: relative; }
.inputField .input              { box-sizing: border-box; padding-top: 17px; padding-bottom: 19px; min-height: 70px; padding-left: 80px; width: 100%; border: 0; border-bottom: 1px solid #dcdedd; font-size: 16px; }

.btnWrap                        { margin-top: 50px; text-align: center; }

.btn                            { width: 160px; height: 51px; border: 1px solid #d41666; border-radius: 2px; background-color: #d41666; color: #fff; font-size: 16px; font-weight: 400; }
a.btn                           { box-sizing: border-box; line-height: 49px; text-align: center; text-decoration: none; }
.btn + .btn                     { margin-left: 3px; }

.btn.line                       { background-color: #fff; border-color: #222; color: #222; }

.btnClose                       { padding: 10px; }
.iconClose                      { position: relative; display: inline-block; width: 18px; height: 18px; }
.iconClose:before,
.iconClose:after                { content: ''; position: absolute; top: 50%; left: 0; display: block; width: 100%; height: 1px; margin-top: -1px; background: #d93077; }
.iconClose:before               { transform: rotate(45deg); }
.iconClose:after                { transform: rotate(-45deg); }

/* 주소 입력 > input 아이콘 */
.inputAddress:after             { content: ''; position: absolute; top: 50%; left: 20px; display: inline-block; width: 19px; height: 26px; background: url(../images/iconAddress.png) no-repeat; transform: translateY(-50%); }
.inputMobile:after              { content: ''; position: absolute; top: 50%; left: 20px; display: inline-block; width: 19px; height: 27px; background: url(../images/iconMobile.png) no-repeat; transform: translateY(-50%); }
.inputMemo:after                { content: ''; position: absolute; top: 50%; left: 20px; display: inline-block; width: 24px; height: 27px; background: url(../images/iconMemo.png) no-repeat; transform: translateY(-50%); }

.inputAddress                   { margin-top: 25px; }
.inputAddress .input            { font-size: 22px; border-bottom-color: #222; }
.inputAddress .btnClose         { opacity: 0; position: absolute; top: 17px; right: 10px; transition: opacity 0.1s ease-in-out; }
.inputAddress .input:hover + .btnClose,
.inputAddress .input:focus + .btnClose { opacity: 1; }
.inputAddress .btnClose:hover,
.inputAddress .btnClose:focus   { opacity: 1; }
.inputMobile                    { margin-top: 30px; }
.inputMemo                      { margin-top: 10px; }

.checkField                     { position: relative; padding: 56px 0 25px 20px; border-bottom: 1px solid #222; }

/* 배송정보 제공 동의 */
.agreeDeliveryInfo              { padding: 43px 52px; border-bottom: 1px solid #dcdedd; background-color: #f7f7f7; line-height: 1.62; }
.agreeDeliveryInfo p            { font-size: 16px; color: #666; }
.agreeDeliveryInfo ul           { margin-top: 14px; }
.agreeDeliveryInfo li           { font-size: 16px; color: #666; }
.agreeDeliveryVeto              { margin-top: 14px; }
p.agreeDeliveryVeto             { color: #4ca2d1; }

.agreeDeliveryBtn               { position: absolute; top: 56px; right: 10px; padding: 10px; font-size: 0; }
.agreeDeliveryBtn:after         { content: ''; display: inline-block; width: 23px; height: 12px; background: url(../images/spriteArrow.png) no-repeat -10px -10px; vertical-align: top; }

.agreeDeliveryBtn.active:after  { background-position-y: -32px; }

/* 다음 버튼 */
.btnNext                        { width: 280px; }

.registeredAddressBox           { position: relative; margin-top: 35px; padding: 24px 155px 24px 80px; border: 1px solid #dcdedd; }
.registeredAddressBox:after     { content: ''; display: table; clear: both; }
.addressListBtn                 { position: absolute; top: 25px; right: 80px; padding: 3px 0; font-weight: 400; }

.registeredAddressBox .radiobox { margin-right: 40px; }

/* 검색된 주소 목록 */
.searchedAddressWrap            { z-index: 2; display: none; width: 902px; }
.jsSearchedList.active          { display: block; }
.searchedAddressList            { overflow: auto; overflow-x: hidden; max-height: 699px; border-bottom: 1px solid #222222; background-color: #fff; }
.searchedAddressList li         { padding-top: 16px; padding-bottom: 15px; border-bottom: 1px solid #dcdedd; }
.searchedAddressList li:hover   { background-color: #fafafa; }
.searchedAddress                { padding-left: 80px; padding-right: 80px; line-height: 36px; }
.searchedAddress .postcode      { font-size: 20px; color: #d41666; font-weight: 400; }
.searchedAddress .name          { display: inline-block; margin-right: 80px; width: 60px; font-size: 16px; color: #666; font-weight: 400; }    
.searchedAddress .value         { display: inline-block; font-size: 16px; font-weight: 400; cursor: pointer; }  

.addAddressForm.showDetail .searchedAddressWrap { position: absolute; }
.detailAddress                  { display: none; }
.jsAddressNext                  { display: none; }