@font-face {
	font-family: "Noto Sans Korean"; src: local("Noto Sans CJK KR Thin"), local("Noto Sans KR Thin"),
	url(https://d3ly1h878gyzeb.cloudfront.net/font/NotoSansKR-Thin-Hestia.eot),
	url(https://d3ly1h878gyzeb.cloudfront.net/font/NotoSansKR-Thin-Hestia.eot?#iefix) format('embedded-opentype'),
	url(https://d3ly1h878gyzeb.cloudfront.net/font/NotoSansKR-Thin-Hestia.woff) format('woff'),
	url(https://d3ly1h878gyzeb.cloudfront.net/font/NotoSansKR-Thin-Hestia.otf) format('opentype');
	font-style: normal; font-weight: 100;
}
@font-face {
	font-family: "Noto Sans Korean"; src: local("Noto Sans CJK KR Light"), local("Noto Sans KR Light"),
	url(https://d3ly1h878gyzeb.cloudfront.net/font/NotoSansKR-Light-Hestia.eot),
	url(https://d3ly1h878gyzeb.cloudfront.net/font/NotoSansKR-Light-Hestia.eot?#iefix) format('embedded-opentype'),
	url(https://d3ly1h878gyzeb.cloudfront.net/font/NotoSansKR-Light-Hestia.woff) format('woff'),
	url(https://d3ly1h878gyzeb.cloudfront.net/font/NotoSansKR-Light-Hestia.otf) format('opentype');
	font-style: normal; font-weight: 300;
}
@font-face {
	font-family: "Noto Sans Korean"; src: local("Noto Sans CJK KR Regular"), local("Noto Sans KR Regular"),
	url(https://d3ly1h878gyzeb.cloudfront.net/font/NotoSansKR-Regular-Hestia.eot),
	url(https://d3ly1h878gyzeb.cloudfront.net/font/NotoSansKR-Regular-Hestia.eot?#iefix) format('embedded-opentype'),
	url(https://d3ly1h878gyzeb.cloudfront.net/font/NotoSansKR-Regular-Hestia.woff) format('woff'),
	url(https://d3ly1h878gyzeb.cloudfront.net/font/NotoSansKR-Regular-Hestia.otf) format('opentype');
	font-style: normal; font-weight: 400;
}
@font-face {
	font-family: "Noto Sans Korean"; src: local("Noto Sans CJK KR Medium"), local("Noto Sans KR Regular"),
	url(https://d3ly1h878gyzeb.cloudfront.net/font/NotoSansKR-Medium-Hestia.eot),
	url(https://d3ly1h878gyzeb.cloudfront.net/font/NotoSansKR-Medium-Hestia.eot?#iefix) format('embedded-opentype'),
	url(https://d3ly1h878gyzeb.cloudfront.net/font/NotoSansKR-Medium-Hestia.woff) format('woff'),
	url(https://d3ly1h878gyzeb.cloudfront.net/font/NotoSansKR-Medium-Hestia.otf) format('opentype');
	font-style: normal; font-weight: 500;
}
@font-face {
	font-family: "Noto Sans Korean"; src: local("Noto Sans CJK KR Bold"), local("Noto Sans KR Medium"),
	url(https://d3ly1h878gyzeb.cloudfront.net/font/NotoSansKR-Bold-Hestia.eot),
	url(https://d3ly1h878gyzeb.cloudfront.net/font/NotoSansKR-Bold-Hestia.eot?#iefix) format('embedded-opentype'),
	url(https://d3ly1h878gyzeb.cloudfront.net/font/NotoSansKR-Bold-Hestia.woff) format('woff'),
	url(https://d3ly1h878gyzeb.cloudfront.net/font/NotoSansKR-Bold-Hestia.otf) format('opentype');
	font-style: normal; font-weight: 700;
}
@font-face {
	font-family: "Noto Sans Korean"; src: local("Noto Sans CJK KR Black"), local("Noto Sans KR Medium"),
	url(https://d3ly1h878gyzeb.cloudfront.net/font/NotoSansKR-black.eot),
	url(https://d3ly1h878gyzeb.cloudfront.net/font/NotoSansKR-black.eot?#iefix) format('embedded-opentype'),
	url(https://d3ly1h878gyzeb.cloudfront.net/font/NotoSansKR-black.woff) format('woff'),
	url(https://d3ly1h878gyzeb.cloudfront.net/font/NotoSansKR-black.otf) format('opentype');
	font-style: normal; font-weight: 800;
}

html                    { word-break:keep-all;word-wrap:break-word; }
*						{ padding:0; margin:0; vertical-align:top; font-family:'Noto Sans Korean', sans-serif; font-size:14px; font-weight:300; color:#222; }
img						{ border:0; vertical-align:middle; }
a						{ text-decoration:none; display:inline-block; }
a:hover, a:focus		{ text-decoration:underline; }
ul, ol, li				{ list-style-type:none; }
button                  { cursor: pointer; background-color: transparent; border: 0; }
fieldset                { border: 0; }
em                      { font-style: normal; }
button:disabled         { cursor: default; }
textarea                { resize: none; }

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {-webkit-appearance: none;}
[type="number"]                            {-moz-appearance: textfield;}

::placeholder                      {color:#c3c3c3;}
:-ms-input-placeholder             {color:#c3c3c3 !important;}
::-ms-input-placeholder            {color:#c3c3c3;}
::-webkit-input-placeholder        {color:#c3c3c3;}
::-moz-placeholder                 {color:#c3c3c3;}
:-moz-placeholder                  {color:#c3c3c3;}

.visuallyhidden                    {border:0;clip:rect(0 0 0 0);height:1px;overflow:hidden;position:absolute;width:1px;white-space:nowrap;margin:-1px;padding:0;}
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus    {clip:auto;height:auto;overflow:visible;position:static;width:auto;white-space:inherit;margin:0;}