.ribbon				            { background:#141922; text-align:center; position:relative; }
.ribbon a			            { position:absolute; top:50%; right:50%; margin-right:-600px; margin-top:-11px; }

.header				            { border-top:1px solid #d41666; border-bottom:1px solid #ddd; position:relative; z-index:1000; background:#fff; }
.headerInner		            { width:1200px; height:66px; margin:0 auto; position:relative; text-align:center; }
.headerInner .logo				{ padding:10px 0; }
.headerInner .menu				{ position:absolute; top:0; left:0; }
.headerInner .menu a			{ line-height:64px; font-size:16px; color:#222; padding:0 18px 0 0; margin:0 0 0 28px; background:url(../img/downArr.png) 100% 50% no-repeat; }
.headerInner .menu a:first-child{ padding:0; margin:26px 0 0; line-height:0; background:none; }
.headerInner .user				{ position:absolute; top:22px; right:0; }
.headerInner .user a			{ padding:0 14px; font-size:12px; color:#222; position:relative; }
.headerInner .user a:first-child{ padding:0; }
.headerInner .user a:last-child	{ padding:0 0 0 14px; }
.headerInner .user a:nth-child(3):after		{ content:''; width:1px; height:14px; background:#ddd; position:absolute; top:2px; right:0; }
.headerInner .user a:nth-child(3):before	{ content:''; width:1px; height:14px; background:#ddd; position:absolute; top:2px; left:0; }

.subMenu						{ width:100%; height:204px; background:#fff; position:absolute; top:67px; left:0; display:none; }
.subMenu .subMenuInner			{ width:1200px; margin:0 auto; position:relative; }
.subMenu .subMenuInner dl		{ width:170px; float:left; padding:40px 0 0; }
.subMenu .subMenuInner dl dt	{ font-size:16px; color:#222; font-weight:500; padding:0 0 12px; }
.subMenu .subMenuInner dl dd a	{ display:block; line-height:26px; color:#666; font-size:14px; }
.subMenu .subMenuInner .menuBanner			{ position:absolute; top:40px; right:0; }

.searchArea						{ width:1132px; height:64px; position:absolute; top:1px; left:50%; margin-left:-600px; background:url(../img/searchIco.png) 0 50% no-repeat #fff; padding:0 28px 0 40px; display:none; }
.searchArea input				{ width:100%; height:64px; line-height:66px; border:0; font-size:14px; color:#888; }
.searchArea a					{ position:absolute; top:0; right:0; display:inline-block; padding:20px 0; }

.container .dim					{ position:fixed; top:0; left:0; width:100%; height:100%; z-index:999; background:rgba(0,0,0,0.6); display:none; }

.contents						{ width:1200px; margin:0 auto; padding:60px 0 200px; overflow:hidden; }

.footer							{ background:url(../img/footerBg.png) 0 0 repeat-x; width:100%; text-align:center; position:relative; z-index:1000; }