.ribbon				{ background:#141922; text-align:center; position:relative; }
.ribbon a			{ position:absolute; top:50%; right:50%; margin-right:-600px; margin-top:-11px; }

.header				{ border-top:1px solid #d41666; border-bottom:1px solid #ddd; position:relative; z-index:1000; background:#fff; }
.headerInner		{ width:1200px; height:66px; margin:0 auto; position:relative; text-align:center; }
.headerInner .logo				{ padding:10px 0; }
.headerInner .menu				{ position:absolute; top:0; left:0; }
.headerInner .menu a			{ line-height:64px; font-size:16px; color:#222; padding:0 18px 0 0; margin:0 0 0 28px; background:url(../img/downArr.png) 100% 50% no-repeat; }
.headerInner .menu a:first-child			{ padding:0; margin:26px 0 0; line-height:0; background:none; }
.headerInner .user				{ position:absolute; top:22px; right:0; }
.headerInner .user a			{ padding:0 14px; font-size:12px; color:#222; position:relative; }
.headerInner .user a:first-child	{ padding:0; }
.headerInner .user a:last-child		{ padding:0 0 0 14px; }
.headerInner .user a:nth-child(3):after		{ content:''; width:1px; height:14px; background:#ddd; position:absolute; top:2px; right:0; }
.headerInner .user a:nth-child(3):before	{ content:''; width:1px; height:14px; background:#ddd; position:absolute; top:2px; left:0; }

.subMenu						{ width:100%; height:204px; background:#fff; position:absolute; top:67px; left:0; display:none; }
.subMenu .subMenuInner			{ width:1200px; margin:0 auto; position:relative; }
.subMenu .subMenuInner dl		{ width:170px; float:left; padding:40px 0 0; }
.subMenu .subMenuInner dl dt	{ font-size:16px; color:#222; font-weight:500; padding:0 0 12px; }
.subMenu .subMenuInner dl dd	{  }
.subMenu .subMenuInner dl dd a	{ display:block; line-height:26px; color:#666; font-size:14px; }
.subMenu .subMenuInner .menuBanner			{ position:absolute; top:40px; right:0; }

.searchArea						{ width:1132px; height:64px; position:absolute; top:1px; left:50%; margin-left:-600px; background:url(../img/searchIco.png) 0 50% no-repeat #fff; padding:0 28px 0 40px; display:none; }
.searchArea input				{ width:100%; height:64px; line-height:66px; border:0; font-size:14px; color:#888; }
.searchArea a					{ position:absolute; top:0; right:0; display:inline-block; padding:20px 0; }


.container						{  }
.container .dim					{ position:fixed; top:0; left:0; width:100%; height:100%; z-index:999; background:rgba(0,0,0,0.6); display:none; }

.topCont						{ background:#f7f7f7; border-bottom:1px solid #dcdedd; width:100%; display:inline-block; }
.topCont .topContInner			{ width:1200px; margin:60px auto 80px; }
.topCont .topContInner .title	{ padding:0 0 80px; }
.topCont .topContInner .topCon	{ width:100%; display:inline-block; }
.topCont .topContInner .topCon .image			{ float:left; width:770px; height:500px; }
.topCont .topContInner .topCon .guide			{ float:right; width:380px; height:500px; }

.contTab						{ width:100%; border-bottom:1px solid #dcdedd; }
.contTab .contTabInner			{ width:1200px; margin:0 auto; }
.contTab ul						{ width:100%; display:inline-block; }
.contTab ul li					{ float:left; height:78px; position:relative; padding:0 35px 0 0; }
.contTab ul li a				{ display:inline-block; height:47px; padding:28px 0 3px; width:85px; text-align:center; font-size:16px; color:#222; text-decoration:none; }
.contTab ul li a:hover,
.contTab ul li a.on				{ padding-bottom:0; border-bottom:4px solid #d41666; font-weight:500; }
.contTab ul li span				{ font-size:12px; color:#d41666; position:relative; top:-6px; left:2px; }

.contents						{ width:1200px; margin:0 auto; padding:60px 0 200px; overflow:hidden; }
.contents .contentsView			{ width:770px; float:left; }
.contents .contentsFunList		{ width:359px; float:right; }
.contents .contentsFunList li	{ margin:0 0 22px; position:relative; overflow:hidden; }
.contents .contentsFunList li a			{ width:13px; height:7px; padding:10px; background:url(../img/funArrClose.png) 50% 50% no-repeat; position:absolute; top:24px; right:27px; }
.contents .contentsFunList li.open a	{ background:url(../img/funArrOpen.png) 50% 50% no-repeat; }
.contents .contentsFunList li.active	{ border:3px solid #d41666; }
.contents .contentsFunList li.active img			{ margin:-3px; }
.contents .contentsFunList li.active a				{ top:21px; right:24px; }


.footer							{ background:url(../img/footerBg.png) 0 0 repeat-x; width:100%; text-align:center; position:relative; z-index:1000; }

.contentsView .tabpanel         { display: none; }
.contentsView .tabpanel:first-child { display: block; }
